<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory >
		
		<property name="dialect"> org.hibernate.dialect.MySQL5InnoDBDialect</property>
	    <property name="format_sql">true</property>
	    <property name="show_sql">true</property>
	    <!-- <property name="hbm2ddl.auto">update</property> -->
	    <property name="temp.use_jdbc_metadata_defaults">false</property>
	   
	    <!-- 开启二级缓存 -->  
	    <property name="cache.use_query_cache">true</property>
        <property name="cache.use_second_level_cache">true</property>
        <property name="cache.use_structured_entries">true</property>
        <property name="cache.region.factory_class">org.hibernate.cache.EhCacheRegionFactory</property>
        <property name="net.sf.ehcache.configurationResourceName">/config/ehcache.xml</property >
	   
	    <mapping class="com.pigai.entity.Course" /> 
	    <mapping class="com.pigai.entity.Courseware" /> 
	    <mapping class="com.pigai.entity.File" /> 
	    <mapping class="com.pigai.entity.Homework" /> 
	    <mapping class="com.pigai.entity.Manager" /> 
	    <mapping class="com.pigai.entity.Selectcourse" /> 
	    <mapping class="com.pigai.entity.Student" /> 
	    <mapping class="com.pigai.entity.Submitrecord" /> 
	    <mapping class="com.pigai.entity.Teacher" /> 
	    

	    
	     
	    <class-cache class="com.pigai.entity.Student" usage="nonstrict-read-write"/>
	    
	</session-factory>
</hibernate-configuration>