@charset "utf-8";
/* CSS Document */

body, div, span, a, p, ul, li, ol, input, dl, dt, dd, h1, h2, h3, h4, img, form {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
}
body {
	font-size: 12px;
	font-family: "微软雅黑，宋体";
}
table {
	border: 0;
}
/*---------------------attendance css---------------------*/
.att_con, .repair_con {
	/*width: 980px;*/
	background: #fff;
}
.att_top {
	position: relative;
	height: 36px;
	line-height: 36px;
}
.search {
	position: absolute;
	top: 0;
	right: 0;
}
.search .text {
	width: 240px;
	height: 28px;
	border: 2px solid #3e70c5;
	float: left;
	padding-left: 4px;
}
.search .search-btn {
	background: none repeat scroll 0% 0% #3e70c5;
	width: 60px;
	height: 32px;
	border: 0 none;
	float: left;
	color: #FFF;
	font-weight: bold;
	font-family: 微软雅黑;
	font-size: 14px;
	cursor: pointer;
	letter-spacing: 2px;
}
.download {
	height: 30px;
	line-height: 30px;
	margin-top: 8px;
	overflow: hidden;
}
.download .dl_left {
	float: left;
}
.download .dl_left li {
	float: left;
	font-weight: bold;
}
.download .dl_left .current {
	color: #f30;
}
.download .dl_right {
	float: right;
}
.download a:hover, .dl_right a:hover {
	color: #f30;
}
.download a, .dl_right a {
	color: #1864c6;
}
.att_table .tb_list {
	height: 30px;
	line-height: 30px;
}
.repair_info .att-set {
	background: url(../images/set.png) no-repeat 6px center !important;
}
.repair_info .att-count {
	background: url(../images/OA_fabu_11.gif) no-repeat 6px center !important;
}
.f_1 {
	color: #fff;
	background: #35b6f1;
	font-weight: 700;
}
.f_2 {
/*	color:#1864c6;
*/
}
.late {
	color: #f00;
	font-weight: 700;
}
.att_table .tb_list {
	border-top: 1px solid #35b6f1;
	border-left: 1px solid #35b6f1;
}
.att_table .tb_list td {
	border-right: 1px solid #35b6f1;
	border-bottom: 1px solid #35b6f1;
}
.att_con .time {
	text-align: right;
	padding: 8px 0;
}
.att_table tr:hover {
	background: #f3f8fb;
}
.att_table .row {
	background: #f7f7f7;
}
.att_con .time span {
	color: #808080;
}
.att_table input {
	border: 1px solid #aaa;
	height: 20px;
	padding: 0 4px;
	width: 80px
}
.setTime {
	width: 40px;
	height: 22px;
	border: 1px solid #ccc;
	margin-right: 5px;
}
.att_button {
	padding: 4px 8px;
	background: #007fc8;
	color: #fff;
	margin: 0 5px;
	font-weight: 700;
}
.att_button:hover {
	background: #3e70c5;
}
.late-sign {
	display: inline-block;
	color: #fff;
	line-height: 20px;
	padding: 0 5px;
	background: #f00;
	float: right;
	margin: 3px;
	font-weight: normal;
}
.pager-area {
	color: #797979;
	font-family: '微软雅黑';
	font-size: 16px;
	margin-top: 15px;
	text-align: center;
	padding: 0;
}
.pager-area .prev-page, .pager-area .next-page, .pager-area .page-num {
	padding: 0 10px;
	line-height: 25px;
	background: #fff;
	display: inline-block;
	font-family: "宋体";
	font-size: 13px;
	border-radius: 3px;
}
.pager-area .prev-page, .pager-area .next-page, .pager-area .page-num {
	border: 1px solid #aaaaaa;
	background: #fff;
	color: #666;
}
.pager-area .current-page {
	background-color: #35b6f1 !important;
	color: #fff;
}
.pager-area .prev-page:hover, .pager-area .next-page:hover, .pager-area .page-num:hover {
	border: 1px solid #666666;
	text-decoration: none;
}
.f_1, .f_2, .f_3, .f_4, .f_5, td {
	padding-left: 5px;
}
/*---------------------repair css---------------------*/
.cont {
	padding-top: 10px;
}
.repair_title {
	height: 32px;
	border: 1px solid #A6D9EB;
	background-color: #DEF2F9;
}
.repair_title ul {
	margin-left: 8px;
	height: 28px;
	padding-top: 4px;
	float: left;
}
.repair_title ul li {
	float: left;
	padding: 0 20px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	white-space: nowrap;
	color: #1864c6;
	cursor: pointer;
	font-weight:bold;
}
.repair_title ul li.current {
	background-color: #FFF;
	border: 1px solid #8ECEE7;
	border-bottom: none;
	color: #f30;
	font-weight: bold;
}
.repair_title .repair_icon {
	float: right;
	margin: 8px 12px 0 0;
}
.repair_search {
	text-align: right;
	height: 42px;
	line-height: 42px;
}
.repair_text {
	width: 100px;
	height: 22px;
	border: 1px solid #ccc;
	padding-left: 2px;
	margin-right: 6px;
}
.repair_select {
	width: 100px;
	height: 22px;
	border: 1px solid #ccc;
	padding-left: 2px;
	margin-right: 6px;
}
.repair_main {
	border: 1px solid #8ecee7;
	border-top: none;
	padding: 0 10px 10px;
	overflow: hidden;
}
.f_3 {
	color: #fff;
	font-size: 14px;
}
.f_4 {
	background: #efb8bd;
}
.f_5 {
	background: #d5eac9;
}
.repair_table .tb_list .tabTitle {
	color: #000;
}
.repair_table .tb_list {
	color: #1864c6;
}
.repair_table .tb_list {
	border-top: none;
	border-left: 1px solid #c8000b;
}
.repair_table .tb_list td {
	border-right: 1px solid #c8000b;
	border-bottom: 1px solid #c8000b;
}
td a:hover {
	color: #f30;
}
.repair_table .tb_list td.bstyle {
	border-right: 1px solid #507839;
	border-bottom: 1px solid #507839;
}
.repair_table .tb_list .subject {
	color: #d13b46;
	font-weight: 700;
}
.repair_table .tb_list .reTime {
	color: #7c7c7c;
}
.f_6 {
	color: #507937;
	font-weight: 700;
	float: left;
}
.edit {
	float: right;
	margin: 10px 5px 0 0;
}
.center {
	text-align: center;
}
.tb_list .right {
	text-align: right;
	padding-right: 2px;
}
.repair_info {
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	margin-top: 8px;
}
.repair_info ul {
	float: right;
	overflow: hidden;
}
.repair_info ul li {
	float: left;
	padding-left: 25px;
	margin-right: 5px;
	background: url(../images/add.png) no-repeat 6px center;
}
.repair_info ul li.first {
	background: url(../images/add.png) no-repeat 6px center !important;
}
.repair_info ul li:last-child {
	background: url(../images/OA_fabu_11.gif) no-repeat 6px center;
	margin-right: 0;
}
.repair_info ul li:nth-child(2) {
	background: url(../images/set.png) no-repeat 6px center;
}
.repair_info ul li:nth-child(3) {
	background: url(../images/OA_fabu_11.gif) no-repeat 6px center;
}
/*---------------------repair_detail css---------------------*/
.Re_module {
	margin: 10px auto 0;
}
.Re-cont dl {
	margin: 10px;
	text-align: center;
	overflow: hidden;
}
.Re-cont dl dt {
	float: left;
	font-weight: bold;
	width: 65px;
	height: 30px;
	line-height: 30px;
	text-align: right;
}
.Re-cont {
	box-shadow: 1px 2px 5px #ccc;
}
.Re-cont dl dd {
	float: left;
	margin-left: 10px;
	line-height: 30px;
}
.my-repair {
	box-shadow: none;
}
.repair-text {
	width: 200px;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 0 white, 0 1px 2px #CCCCCC inset;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #A1A2A4;
	padding: 4px 1px;
	margin-top: 2px;
	color: #333;
}
.my-repair dd a {
	color: #666;
}
.my-repair dd a:hover {
	color: #f30;
}
.my-repair textarea {
	width: 200px;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 0 white, 0 1px 2px #CCCCCC inset;
	border-color: #BFBFBF #DEDEDE #DEDEDE #BFBFBF;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	font: 1em Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 4px;
}
.repair_title .back {
	float: right;
	line-height: 30px;
	margin-right: 10px;
	font-weight: bold;
}
.download .count li {
	margin-right: 20px;
	color: #000;
	font-weight: normal;
}
.download .count li span {
	font-weight: 700;
}
.repair_title ul li.cur {
	color: #1864C6;
}
dl dd .pj {
	margin: 9px 5px 0 0;
	float: left;
}
dl dd .pjspan {
	float: left;
}
.tg-green {
	color: #507839;
}
.dd-red {
	color: #f00;
	font-weight: bold;
}
.pt20 {
	padding-left: 60px;
}
.sub-tan {
	width: 35%;
	background: #f7f7f7;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
	border-radius: 8px;
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 15%;
	padding-bottom: 10px;
}
.sub-tan .list {
	padding-top: 10px;
	overflow: hidden;
}
.sub-tan .key-name {
	width: 90px;
	text-align: right;
	font-size: 12px;
	color: #333;
	font-weight: bold;
	line-height: 40px;
	float: left;
}
.sub-tan .list input {
	width: 200px;
	height: 25px;
	background: #FFF;
	border: 1px solid #ababab;
	border-radius: 2px;
	margin: 6px 12px 0 6px;
	color: #575757;
	font-size: 14px;
	line-height: 25px;
	padding: 0 2px;
	float: left;
}
.repair_info ul li a:hover {
	color: #f30;
}
dd.sj {
	width: 22%;
	border: 1px dotted #999;
	text-align: left;
	padding-left: 1%;
	cursor: pointer;
}
dd.sj:hover {
	background: #f3f8fb
}
.add-fj {
	padding-left: 88px;
	line-height: 20px;
	margin-top: 8px;
}
.add-fj a {
	color: #1864c9;
}
.add-fj a:hover {
	color: #f30;
}
.tabLeft {
	width: 150px;
	float: left;
	background: #def2f9;
	padding-bottom: 30px;
	border: 1px solid #35b6f1;
}
.tabLeft ul li {
	line-height: 40px;
	color: #fff;
	background: url(../images/settingleftimg.gif) right bottom no-repeat;
}
.tabLeft ul li .current {
	font-weight: bold;
	color: #f30;
}
.tabLeft ul li a {
	color: #1864c6;
	font-weight: bold;
	padding-left: 25px;
	background: url(../images/rc/OA_anpai_1.gif) no-repeat 6px center;
}
.tabLeft ul li a:hover {
	text-decoration: none;
}
.tabRight {
	float: right;
	width: 83%;
}
.tabRight td {
	position: relative;
}
.tabRight td:hover {
	background: #e4f2ff;
}
.tabRight .rc-month {
	height: 120px;
}
.tabRight .no-move {
	cursor: not-allowed;
}
.rc-time {
	font-size: 15px;
	font-weight: bold;
}
.sub-rc {
	z-index: 10000;
	position: absolute;
	top: 120px;
	left: 150px;
	background: #f7f7f7;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
	border-radius: 8px;
}
.rc-date {
	width: 20px;
	height: 20px;
	background: #e4f2ff;
	border: 1px solid #a8afc2;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 2px;
	left: 2px;
}
.repair_info .bin {
	float: left;
	margin-left: 162px;
	background: url(../images/delete.gif) no-repeat 0 center;
	padding-left: 15px;
}
.repair_info .bin a:hover {
	color: #f30;
}
.month-table td {
	cursor: pointer;
}
.teacher {
	width: 190px;
	border: 1px dashed #999;
	text-align: left;
	padding-left: 10px;
	cursor: pointer;
}
.input-order {
	background: transparent;
	text-align: center;
	border: 1px solid #999;
	width: 40px !important;
	height: 22px;
	margin-left: 25px;
}
.repair_search a {
	color: #1864c9;
}
.repair_search a:hover {
	color: #f30;
}
.Re-cont h3 {
	height: 33px;
	line-height: 33px;
	background: url(../images/icon/step1.png) no-repeat;
	padding-left: 50px;
}
.key-name {
	width: 100px;
	text-align: right;
	font-size: 12px;
	color: #333;
	font-weight: bold;
	line-height: 40px;
	float: left;
}
.sc-file {
	float: left;
	width: 300px;
	padding: 2px;
	border: 1px solid #999;
	margin: 6px 0 0 0;
}
.rc-month ul {
	padding-top: 25px;
	line-height: 20px;
}
.rc-month .more {
	height: 25px;
	text-align: right;
	margin: 0 3px 3px 0;
	line-height: 25px;
}
.week li {
	height: 20px;
	padding: 2px;
}
.week li span {
	display: inline-block;
	border-right: 1px dashed #999;
	padding: 2px;
	line-height: 20px;
	overflow: hidden;
}
.week li:hover, .rc-month li:hover {
	background: #e4f2ff;
}
.tabRight .td-hover:hover {
	background: none;
}
.tabRight .th-hover:hover {
	background: #35b6f1;
}
.lab-table {
	width: 100%;
	overflow-x: auto;
	padding-bottom: 10px;
}
/*.tabRight td, .lab-table td {
	white-space: nowrap;
}
*/
.lab-table td {
	white-space: nowrap;
}
.week li {
	white-space: nowrap;
}
.lab-title {
	height: 35px;
	line-height: 35px;
	margin-top: 5px;
	overflow: hidden;
}
.lab-title h4 {
	float: left;
}
.lab-title .lab-icon {
	float: right;
}
.mt8 {
	margin-bottom: 15px;
}
.checkbox {
	width: auto !important;
}
.add-rc {
	width: 100%;
	height: 25px;
	cursor: pointer;
}
.add-rc:hover {
	background: #e4f2ff;
}
.add-rcMonth {
	height: 60px;
}
.add-rcMonth2 {
	height: 80px;
}
.add-rcMonth1 {
	height: 95px;
}
.add-rc1 {
	height: 50px;
}
.base_set {
	overflow: hidden;
	line-height: 24px;
}
.base_set h2 {
	float: left;
	font-weight: 700;
	padding-left: 0
}
.base_set .add_wy {
	float: right;
	margin-right: 0;
}
.tb_list .checkbox {
	width: auto !important;
	height: auto !important;
	margin: 3px 5px 0 3px;
	padding: 0;
}
.tb_list .wy_text {
	width: 40px;
}
.sub-tan .list input {
	width: auto !important;
	height: auto !important;
	margin: 14px 6px 0 4px;
}
.selection {
	float: left;
	margin-right: 8px;
}
.select_bm {
	width: 157px;
	height: 27px;
	margin-top: 5px;
}
.sub-wy {
	top: -5px;
	left: 460px;
}
.moduleSet .mod-cont {
	padding: 10px 0 0 10px;
}
.field-content .list {
	margin: 10px;
}
.field-content .w65 {
	width: 65px;
}
.FontStyle {
	height: 40px;
	background: #eee;
	font-size: 12px;
	font-weight: bold;
}
.FontStyle1 {
	font-size: 12px;
	font-weight: 100;
}
.h40 {
	height: 40px;
}
.att_table .bg {
	background: #eee;
	width: 15%;
}
.bg_white {
	background: #fff;
}
.att_table .wy_pj {
	width: 20px !important;
	margin: 2px 0 0 0;
	float: left;
}
.att_table .pjImg {
	float: left;
	margin: 0 0 0 2px;
}
.att_table .wyPJ {
	display: inline-block;
	margin: 6px 25px 0;
}
.news-menu {
	min-height: 300px;
	padding-bottom: 10px;
}
.news-menu ul li {
	line-height: 35px;
}
.news-menu ul li a {
	background: none;
}
.news-menu ul li ul li {
	padding-left: 46px;
	background-image: none;
	font-weight: normal;
	color: #1864c6;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.news-menu ul li ul li.menu-cur {
	background: #35b6f1;
	color: #fff;
}
.db-remind {
	line-height: 28px;
	background: #fff;
	overflow: hidden;
}
.db-remind ul {
	padding: 0 10px;
}
.db-remind ul li a {
	color: #f00;
	font-weight: bold;
}
.db-remind .dbCon {
	overflow: hidden;
}
.yp-move {
	width: 300px;
	background: #fff;
	margin: 0 auto;
	padding-bottom: 10px;
}
.yp-move .yp-hover {
	overflow: hidden;
}
.yp-move .yp-hover:hover {
	background: #f7f7f7;
}
.ztree {
	padding: 5px;
	color: #333;
	overflow: hidden;
}
.ztree li {
	line-height: 30px;
	overflow: hidden;
	cursor: pointer;
}
.yp-move .ztree li .current {
	background: #a7cedf;
}
.ztree li a {
	color: #333;
}
.ztree li a:hover {
	text-decoration: none;
}
.ztree .btn-fold {
	background: url(../images/bg09.png) no-repeat;
	float: left;
	width: 13px;
	margin: 8px 5px 0 0;
	height: 13px;
}
.btn-unfold {
	BaCKGROUND: url(../images/tree/bg10.png) no-repeat;
	FLOaT: left;
	WIDTH: 13px;
	margin: 8px 5px 0 0;
	HEIGHT: 13px;
}
.hidden {
	DISPLaY: none;
}
.yp-file {
	float: left;
	background: url(../images/doc-type-icon.png) no-repeat -751px -36px;
}
.ztree h2 {
	float: left;
}
.ztree .pl15 {
	padding-left: 15px;
}
.rc-late {
	margin: 10px 10px 10px 86px;
	line-height: 30px;
}
.rc-late-text {
	width: 120px;
	cursor: pointer;
	margin: 0 8px 0 0;
}
.schedule-icon {
	position: absolute;
	top: 10px;
	right: 0px;
	overflow: hidden;
}
.schedule-icon .bj-icon {
	margin: 10px 10px;
}
